<section class="login_full">

    <div class="loginbox">
        <img src="assets/image/avatar.png" class="avatar">
        <h1>Login Here</h1>
        <form [formGroup]="teacherLogin" (ngSubmit)="submit()">
            <label>Email Id</label>
            <input type="email" formControlName="email" placeholder="Your email id" required>
            <p>Password</p>
            <input type="password" formControlName="password" placeholder="Your Password" required>
            <input type="submit" name="" value="Login">
            <a href="#">Don't have Regestation?</a>
        </form>
    </div>

</section>