.example-container {
  width: 100%;
  height: 100vh;
}

.example-sidenav-content {
  height: 100%;
  padding:0px 20px;
}

.example-sidenav {
  padding: 20px;
  width:300px;
  background: #b5b5b575;
  .title_admin{
      text-align: center;
  }
}
