
body{
margin:0px;
padding:0px;

}
ul{
	margin:0px;
	padding:0px;
}


.my_menu {
position:absolute;
background-color:darkcyan;
width:100%;
height:auto;  
display: flex;
justify-content:center;
align-items: center
}


.menu li {
list-style:none;
width:160px;
height:50px;
background-color:darkcyan;
text-align:center;
line-height:50px;
float:left;
padding:0px

 }
.menu li:hover{
background-color:black;
}
.menu li a:hover{
color:aqua;
}
.menu li a{ 
color:white; 
display:block;
text-decoration:none;

}


.menu ul li{
	margin:0px;
	padding:0px;
}
.menu ul{
	display:none;
}
.menu li:hover ul{
	display:block;
}
#why_choose{
	width:100%;
	text-align: center;
}
#why_choose h1{
	margin:0 auto;
	width:300px;
	font-size:30px;
	color:red;
	border-bottom:2px solid red;
}
.div_section1{
	width:20%;
	height:300px;
	margin:30px;
	float: left;
}
.icon{
	width:120px;
	height:120px;
	border:1px solid gray;
	margin:10px auto;
	line-height: 120px;
	font-size: 50px;
	background-color: darkred;
	color:white;
	border-radius: 100px;
	transition-duration: 0.3s;
}
.icon:hover{
	font-size: 40px;
}
