<div class="my_menu">
    <ul class="menu">
        <li><a href="#"> Home </a></li>
        <li><a href="#"> Result </a></li>
        <li><a href="#"> Login </a>
            <ul>
                <li><a routerLink="/student-login">Student</a></li>
                <li><a routerLink="/teacher-login">Teacher</a></li>
                <li><a routerLink="/admin-login">Admin</a></li>
            </ul>
        </li>
        <li><a href="#"> Contuct us </a></li>

    </ul>
</div>

<div style="display: flex;justify-content:center;align-items: center;background-color: gray">
    <img style="width: 70%;height:100%;display: flex;justify-content:center;align-items: center;"
        src="assets/image/pic2.jpg">
</div>

<section id="why_choose">
    <br>
    <h1>Why Choose US</h1>

    <div class="div_section1">
        <div class="icon"><i class="fas fa-school"></i></div>
        <h2>Huge school Campus</h2>
        <p> The diversification and expansion of the School through adoption of new and topically relevant courses has
            led to further enhancement of our infrastructure in order to fulfill our growing needs.</p>
    </div>

    <div class="div_section1">
        <div class="icon"><i class="fas fa-laptop"></i></div>
        <h2>Computer Education</h2>
        <p> Computers have taken over a major part of human activities and enabled people to have more leisure by
            reducing his work-load. Computer Education is started from the primary classes and is one of the optional
            subjects in the Senior Secondary classes.</p>
    </div>

    <div class="div_section1">
        <div class="icon"><i class="fas fa-music"></i></div>
        <h2>Music & dance</h2>
        <p> Training of Vocal as well as instrumental music is provided according to the taste and interest of the
            students from Std. I to XII. 'Indian classical' and 'western dance' are taught in the school by experts to
            train, guide and help those students interested in this form of art.</p>
    </div>

    <div class="div_section1">
        <div class="icon"><i class="fas fa-flask"></i></div>
        <h2>Science Laboratory</h2>
        <p> The school has a well equipped laboratory of Physics, Chemistry, Biology, Computer Science, Maths and Social
            Studies for the students to experiment and learn because learning by doing makes concrete concept formation
        </p>
    </div>
</section>